---
layout: default
---


<div class="page-content home-page">

<div class="wrapper">

<div class="index">

  <ul class="icons">
          <li><a href="https://www.dol.gov/"><img src="/assets/img/icons-workers.png"></a></li>
  </ul>

  <h1 class="page-heading">We work for you.</h1>
  <h4>You have rights and we’ll help you exercise them. This site is dedicated to the needs
of workers and is built in a new way designed to improve based on your input.</h4>

  <div class="usa-grid">  
    <div class="usa-width-two-thirds">
      <label for="worker-profile">I am a:</label>
      <div class="profile-wrapper">
      <div class="awesomplete">
      <span style="display:block"><input list="workerprofiles" class="dropdown-input-index" autocomplete="off" aria-autocomplete="list" placeholder="enter your job title"></span>
      <datalist id="workerprofiles">
      {% for profile in site.profiles %}
      {% if profile.layout == "profiles" %}
            <option value="{{ profile.name }}" data-url="/profiles/{{ profile.val}}.html">{{ profile.name }}</option>        
      {% endif %}
      {% endfor %}
    </ul>
    </div>
    <button class="dropdown-btn" type="button"><span class="caret"></span></button></h1>
    </div>
    </div>
    
    <div class="usa-width-one-third">
       <div class="button_wrapper">
        <a class="learn-rights" href="profiles/all.html"><button class="usa-button-big usa-button-secondary">Learn My Rights</button></a>
       </div>
    </div>
  </div>
  <a href="profiles/all.html" class="explore-rights">Explore all rights</a>

</div>

</div>

</div>
