---
layout: default
title: Home
---

<div class="page-content hero">
  <div class="usa-grid">
    <div class="index">
      <div class="icons">
        <img src="{{ "/assets/img/icons-3-workers.svg" | prepend: site.baseurl }}" alt="Icons of a cook, desk worker, and road worker">
      </div>
      <h1 class="page-heading">Worker protections</h1>
      <div class="usa-grid">
      </div>
    </div>
  </div>
</div>

<section>
  <div class="usa-grid section--spacious section--bordered">
    <div class="usa-width-two-thirds">
      <h2>You have the right to a fair, safe, and healthy working environment that is free from harassment and discrimination.</h2>
      <h3>This site covers common workplace concerns and the federal laws that protect you.</h3>
    </div>
  </div>
</section>

<section class="section--spacious">
  <h2 class="usa-grid">Learn about your rights</h2>
  <div class="usa-grid flex--large">
    {% for right in site.rights %}
    <div class="usa-width-one-fourth box bg-light-blue small-stacked">
      <img src="{{ right.icon | prepend: site.baseurl }}" alt="Icon representing {{ right.title }}">
      <h3>{{ right.title }}</h3>
      <p>{{ right.statement }}</p>
      <a href="{{ right.url | prepend:site.baseurl }}">Learn more &raquo;</a>
    </div>
    {% endfor %}
  </div>
</section>

<section class="section--spacious bg-dark">
  <div class="usa-grid">
    <div class="usa-width-two-thirds">
      <h2>Have an issue at work?</h2>
      <p>See how federal laws protect you from common workplace concerns, and learn about how to take action if you believe your rights were violated.</p>
      <strong><a href="{{ "/concerns" | prepend:site.baseurl }}">View all concerns »</a></strong>
    </div>
    <div class="usa-width-one-third">
      {% assign concerns = site.data.concerns | map:'concern' | uniq %}
      <h3>Workplace concerns</h3>
      <select name="concern" id="concern-select">
          <option value="">View all concerns</option>
        {% for concern in concerns %}
          <option value="{{ concern | slugify }}">{{ concern }}</option>
        {% endfor %}
      </select>
      <a class="usa-button" id="concern-button" href="{{ site.baseurl }}/concerns">Learn more</a>
      <noscript>
        <ul>
          {% for concern in concerns %}
          <li><a href="{{ site.baseurl }}/concerns#{{ concern | slugify }}">{{ concern }}</a></li>
          {% endfor %}
        </ul>
      </noscript>
    </div>
  </div>
</section>

<section class="section--spacious">
  <div class="usa-grid">
    <div class="usa-width-two-thirds">
      <h2>Looking for a job?</h2>
      <p>Visit <a href"https://www.careeronestop.org/">CareerOneStop</a> to find job opportunities, career options, training, skills assessments, and workforce services in your neighborhood. CareerOneStop is a free online resource sponsored by the Department of Labor.</p>
    </div>
  </div>
</section>

<script>
var select = document.getElementById('concern-select');
select.addEventListener('change', function(e) {
  var hash = e.target.value;
  var a = document.getElementById('concern-button');
  var url = a.getAttribute('href') + '#' + hash;
  a.setAttribute('href', url);
});
</script>
