<footer class="site-footer">

  <div class="wrapper">
    <div class="usa-grid">
      <div class="usa-width-one-half">
      <h3 class="footer-heading">Have a question? Call the Department of Labor at: <a href="contact">1-866-487-2365</a></h2>
      </div>
      <div class="usa-width-one-half">
        <h3 class="footer-heading">Send alpha feedback to: <a href="contact">alphafeedback@dol.gov</a> | <a href="https://github.com/presidential-innovation-fellows/worker-dol-gov">GitHub</a></h2>
      </div>
    </div>
    <div class="usa-grid">
      <div class="usa-width-one-whole">
        <ul class="agencies">
          <li><a href="https://www.dol.gov/"><img src="/assets/img/logos/DOL-logo.png"></a></li>
          <li><a href="https://www.nlrb.gov/"><img src="/assets/img/logos/NLRB-logo.png"></a></li>
          <li><a href="https://www.justice.gov/"><img src="/assets/img/logos/DOJ-logo.png"></a></li>
          <li><a href="https://www.eeoc.gov/"><img src="/assets/img/logos/EEOC-logo.png"></a></li>
        <ul>
      </div>
    </div>

</footer>

<!-- scripts -->
<script src="{{ "/assets/uswds/js/uswds.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>
