<footer class="bg-dark">

    <div class="usa-grid">
      <div class="usa-width-two-thirds">
        <h2>Contact us</h2>
        <div class="t-medium">Department of Labor: 1-866-4-USA-DOL (1-866-487-2365)</div>
      </div>
      <div class="usa-width-one-third">
        <ul class="no-bullets">
          <li>Find more government info at <a href="https://usa.gov">USA.gov</a></li>
          <li><a href="https://foia.gov">FOIA</a></li>
          <li><a>Privacy policy</a></li>
          <li><a>Accessibility</a></li>
        </ul>
        <p>Developers: help us improve the site on <a href="https://github.com/18F/worker-dol-gov">GitHub</a></p>
      </div>
    </div>
</footer>

<!-- scripts -->
<script src="{{ "/assets/uswds/js/uswds.min.js" | prepend: site.baseurl }}"></script>
