<header class="site-header">

  	<aside class="usa">
  		<p><img alt="US Flag" src="{{ "/assets/img/us_flag_small.png" | prepend: site.baseurl }}"> An official website of the United States Government. This site is a <a href="/playbook.html">work in progress</a>. If you don't find what you need, visit <a href="https://www.dol.gov/">dol.gov</a></p>
  	</aside>

	<div class="usa-grid">
  	<div class="usa-width-one-whole">
  		<a class="site-title" href="{{ site.baseurl }}"><img src="{{ "/assets/img/logos/worker-banner-top.svg" | prepend: site.baseurl }}" alt="Worker.gov"></a>
  	</div>
  </div>
</header>
