.concern__button {
  background-color: $color-cool-blue-lightest;
  color: $color-base;
  display: block;
  margin-top: .8rem;
  position: relative;
  width: 100%;
  background-position: right 1.5rem top 1.5rem;

  p {
    font-weight: normal;
    display: block;
    width: 75%;
  }

  &:hover {
    background-color: $color-cool-blue-lighter;
  }

  &::before {
    content: 'See all';
    font-weight: normal;
    font-size: 1.2rem;
    color: $color-primary;
    position: absolute;
    top: 1.5rem;
    right: 4rem;
  }

  &[aria-expanded="true"] {
    &::before {
      content: 'Close';
    }
  }
}

.concern__details {
  background-color: $color-cool-blue-lightest;
  padding: 0 2rem 2rem 2rem;

  ul {
    list-style-type: none;
  }

  a {
    font-weight: bold;
    text-decoration: none;
  }
}
