
// Footer Styles
footer {
  font-size: 1.5rem;
  padding: 5rem 0;
}

.footer-heading {
  font-size: 14px;
}

.agencies {
  text-align: left;
}

.agencies li {
  display: inline-block;
  max-width: 75px;
}
