// Homepage Styles

.hero {
  background-color: $color-primary;
  color: $color-white;
  padding: 5rem 0;
  text-align: center;

  .icons {
    text-align: center;
  }

  .icons img {
    width: 60%;
  }

  h1 {
    font-size: 58px;
    font-weight: 600;
    margin: 0;
  }

  h4 {
    letter-spacing: .8px;
    color: $color-white;
  }

  a {
    color: $color-white
  }

  .explore-rights {
    font-style: italic;
  }
}
