// Sections
.section {
  padding-bottom: 3.2rem;
  padding-top: 3.2rem;
}

.section--bordered {
  border-bottom: 2px solid $color-gray-light;
}

.section--spacious {
  padding-top: 6.4rem;
  padding-bottom: 6.4rem;
}

.box {
  padding: 1.6rem;

  a {
    text-decoration: none;
    font-weight: bold;
  }
}

.flex--large {
  @media (min-width: $large-screen) {
    display: flex;
  }
}

// Background colors
.bg-light-blue {
  background-color: $color-primary-alt-lightest;
}

.bg-gray {
  background-color: $color-gray;
}

.bg-gray-lightest {
  background-color: $color-gray-lightest;
}

.bg-dark {
  background-color: $color-gray-dark;
  color: $color-white;
}

// Stacks items on small screens
.small-stacked {
  margin-bottom: 1.6rem;

  @media (min-width: $medium-screen) {
    margin-bottom: 0;
  }
}
