// Sections
.section {
  padding-bottom: 3.2rem;
  padding-top: 3.2rem;
}

.section--spacious {
  padding: 6.4rem 0;
}

.box {
  padding: 1.6rem;
}

.flex--large {
  @media (min-width: $large-screen) {
    display: flex;
  }
}

// Background colors
.bg-light-blue {
  background-color: $color-primary-alt-lightest;
}

.bg-gray {
  background-color: $color-gray-warm-light;
}

.bg-gray-lightest {
  background-color: $color-gray-lightest;
}

.bg-dark {
  background-color: $color-gray-dark;
  color: $color-white;
}

// Stacks items on small screens
.small-stacked {
  margin-bottom: 1.6rem;

  @media (min-width: $medium-screen) {
    margin-bottom: 0;
  }
}
