.process-sidebar {
  background-color: $color-gray-light;
  padding: 10px 15px;
  font-size: .9em;

  img {
    max-height: 175px;
  }
}

.process-section {
  margin: 30px 0;
}

.process-section h2 {
  border-bottom: 1px solid $color-primary;
}

.steps {
  .step-icon {
      text-align: center;
  }

  li {
    list-style: none;
    padding: 5px;
  }

  h4 {
    clear: none;
  }

  .step-content {
    margin-left: 90px;
  }

  .step-img {
    float: left;
    width: 90px;
  }
}
