---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

// Import all base USWDS
// Standard USWDS styless have been edited
@import "uswds/uswds";

// Import all custom components
@import "worker/layout";
@import "worker/header";
@import "worker/footer";
@import "worker/hero";
@import "worker/process";
@import "worker/concerns";

body {
  color: $color-base;
}

main {
  padding-bottom: 8rem;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

// Typography helpers
.t-display {
  font-size: 5rem;
  font-weight: bold;
  line-height: 1.1;

  @include media($medium) {
    font-size: 6rem;
  }
}

.t-bigger {
  font-size: 2.7rem;
}

.t-big {
  font-size: 2.2rem;
}

.t-big a {
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

.t-medium {
  font-size: 1.8rem;
}

.t-h1 {
  @include h1();
}

.bg-lighter-blue a {
  color: $color-primary-medium;
}

// List styles
.no-bullets {
  list-style-type: none;
  padding-left: 0;
}


// Home page
.features {
  margin-bottom: 8rem;
  padding: 3rem;

  .usa-grid {
    padding: 0;
  }
}

.features h2 {
  margin-bottom: 3rem;
}

.features__grid {
  @include media($medium-screen) {
    display: flex;
    flex-wrap: wrap;
  }

  @include media($large-screen) {
    flex-wrap: nowrap;
  }
}

.feature {
  background-color: $color-gray-lightest;
  margin-bottom: 2rem;
  padding: 2rem 2rem 4rem 2rem;
  position: relative;

  img {
    margin-bottom: 1.4rem;
  }

  h3 {
    margin-bottom: 1rem;
  }

  p,
  a {
    font-size: 1.5rem;
  }

  a {
    position: absolute;
    bottom: 2rem;
    font-weight: bold;
    left: 2rem;
  }

  @include media($medium-screen) {
    @include span-columns(6);

    &:nth-child(even) {
      margin-right: 0;
    }

    &:last-child {
      margin-bottom: 2rem;
    }
  }

  @include media($large-screen) {
    @include span-columns(3);
    margin-bottom: 0;

    &:nth-child(even) {
      margin-right: $gutter;
    }

    &:last-child {
      margin-bottom: 0;
      margin-right: 0;
    }
  }
}

// Rights page
.right__statement {
  @include h2();
  color: $w-red;
  font-weight: normal;
  line-height: 5.5rem;
  margin-bottom: 5rem;

  img {
    margin-right: 2rem;
    vertical-align: middle;
  }
}

// About page
.main-content--about {
  h1 {
    margin-bottom: 2rem;
  }

  h3 {
    padding-top: 3rem;
    margin-bottom: 1rem;
  }

  h3 + p {
    margin-top: 0;
  }

  @include media($medium-screen) {
    @include span-columns(9);
  }
}
// Partner logos
.partner-logo {
  display: block;
  margin: 0 auto 3rem 0;
  width: 10rem;

  @include media($medium-screen) {
    display: inline-block;
    float: left;
    margin-right: 4rem;
    margin-bottom: 10rem;
  }
}
