/*! uswds @version */

// Vendor -------------- //
@import 'lib/bourbon';
@import 'lib/neat';
@import 'lib/normalize';

// Core -------------- //
@import 'core/variables';

// Worker.gov custom variables
$w-red: #D84E4E;
$w-blue: #61AEF0;
$w-light-blue: #A3D4FF;
$w-lighter-blue: #CEE8FF;
$w-gray: #CDD0D6;
$w-gray-2: #5B616A;
$color-base: #292A2B;
$color-primary-medium: #0E67A8;
$font-sans: Helvetica, Arial, sans-serif;
$font-serif: $font-sans;
$color-visited: $color-primary;
$color-gray-medium: #E7EAEC;
$color-gray-dark: #323A44;

@import 'core/fonts';
@import 'core/base';
@import 'core/grid';
@import 'core/utilities';

// Elements -------------- //
// Styles basic HTML elements
@import 'elements/buttons';
@import 'elements/embed';
@import 'elements/figure';
@import 'elements/inputs';
@import 'elements/labels';
@import 'elements/list';
@import 'elements/table';
@import 'elements/typography';

// Components -------------- //
@import 'components/accordions';
@import 'components/alerts';
@import 'components/banner';
@import 'components/footer';
@import 'components/forms';
@import 'components/graphic-list';
@import 'components/header';
@import 'components/hero';
@import 'components/layout';
@import 'components/media-block';
@import 'components/navigation';
@import 'components/search';
@import 'components/section';
@import 'components/sidenav';
@import 'components/skipnav';
