---
layout: content
---

<div class="usa-grid">
  <h1>Workplace concerns</h1>
  <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Vestibulum id ligula porta felis euismod semper.</p>
</div>
<div class="usa-grid section">
  <div class="usa-width-three-fourths">
    <ul class="usa-accordion">
      {% assign concerns = site.concerns | map:'concern' | uniq %}
      {% for concern in concerns %}
        <li id="{{ concern | slugify }}">
          <button class="usa-accordion-button concern__button js-concern-button" aria-controls="accordion-{{ concern | slugify }}">
            <h3>{{ concern }}</h3>
            <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
          </button>
          <div class="concern__details usa-accordion-content js-concern-details" id="accordion-{{ concern | slugify }}">
            {% assign details = site.concerns | where:'concern',concern %}
            <ul>
              {% for detail in details %}
                <li><a class="concern__detail" href="{{ detail.url | prepend:site.baseurl }}">{{ detail.summary }} &raquo;</a></li>
              {% endfor %}
            </ul>
          </div>
        </li>

      {% endfor %}


    </div>
  </div>
</div>

<script src="{{ "/assets/js/concerns.js" | prepend: site.baseurl }}"></script>
