---
layout: content
---

<div class="section">
  <div class="usa-grid">
    <h1>Workplace concerns</h1>
  </div>
  <div class="usa-grid section">
    <div class="usa-width-one-half">
      <header class="concern__heading">
        1. What happened?
      </header>
      {% assign concerns = site.concerns | map:'concern' | uniq %}
      {% for concern in concerns %}
        <a class="concern__button js-concern" href="#{{ concern | slugify }}" aria-controls="{{ concern | slugify }}" aria-selected="false">{{ concern }}</a>
      {% endfor %}
    </div>
    <div class="usa-width-one-half">
      <header class="concern__heading">
        2. Tell us more
      </header>
      {% for concern in concerns %}
        <div class="concern__details js-concern-details" id="{{ concern | slugify }}">
          {% assign details = site.concerns | where:'concern',concern %}
          {% for detail in details %}
            <a class="concern__detail" href="{{ detail.url | prepend:site.baseurl }}">{{ detail.detail | capitalize }} &raquo;</a>
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<script src="{{ "/assets/js/concerns.js" | prepend: site.baseurl }}"></script>
