---
layout: content
---

<div class="priority-rights">
	<div class="usa-grid">
		<div class="usa-width-one-whole">
			<div class="usa-alert usa-alert-info">
    			<div class="usa-alert-body">
      				<h3 class="usa-alert-heading">Tell Us What Happened</h3>
      				<p class="usa-alert-text">A customized worker profile for your job will be launched in the next phase of this site. In the meantime, explore your rights below.</p>
    			</div>
  			</div>
		</div>
	</div>
</div>
<div class="experiences">

{% for right in site.rights %}

   {% if forloop.first != true %}
	<div class="usa-grid seperator">
		<hr class="seperator">
	</div>
	{% endif %}

	<div class="usa-grid">
		<div class="usa-width-two-thirds">
			<h1><img src="{{ right.icon }}"> {{ right.statement }}</h1>
			<ul class="experience-list">
			{% if right.val == "equality-rights" %}
				{% for equality-right in page.equality-rights %}
				<li><a href="{{ page.id }}/{{equality-right.id}}.html">{{ equality-right.text }}</a></li>
				{% endfor %}
			</ul>
			{% elsif right.val == "safety-rights" %}
				{% for safety-right in page.safety-rights %}
				<li><a href="{{ page.id }}/{{safety-right.id}}.html">{{ safety-right.text }}</a></li>
				{% endfor %}
			</ul>
			{% elsif right.val == "organizing-rights" %}
				{% for organizing-right in page.organizing-rights %}
				<li><a href="{{ page.id }}/{{organizing-right.id}}.html">{{ organizing-right.text }}</a></li>
				{% endfor %}
			</ul>
			{% elsif right.val == "wage-rights" %}
				{% for wage-right in page.wage-rights %}
				<li><a href="{{ page.id }}/{{wage-right.id}}.html">{{ wage-right.text }}</a></li>
				{% endfor %}
			</ul>
			{% endif %}

		</div>
		<div class="usa-width-one-third">
			<p class="mission">{{ right.mission }}</p>
			<a href="{{right.id}}.html">View all {{ right.title }}</a>
		</div>
	</div>

 {% endfor %}

</div>

{{ content }}
