---
layout: content
---

<div class="usa-grid">
	<div class="usa-width-two-thirds">
		<div class="entitlement-description">
			<h1>{{page.title}}</h1>
			{{ page.content }}
			{% for action in page.actions %}
			<a class="usa-button" href="{{ site.baseurl }}/actions/{{ action.action }}.html">{{ action.label }}</a>
			{% endfor %}
		</div>
	</div>
	<div class="usa-width-one-third">
		<div class="box bg-light-blue">
			{% for right in site.rights %}
				{% if right.right == page.right %}
					<h3>About {{ right.title }}</h3>
					<p>{{ right.mission }}</p>
				{% endif %}
			{% endfor %}
			<a href="{{ site.baseurl }}/rights">Learn about all your rights</a>
		</div>
		{% for sidebar in page.sidebars %}
			{% assign box = site.sidebars | where:'key',sidebar %}
			<div class="box bg-light-blue">
				{{ box }}
			</div>
		{% endfor %}
	</div>
</div>
