---
layout: default
---

<section class="mad-lib">
<div class="usa-grid">
	<div class="usa-grid-one-whole">
		<h1>I am a <span class="underline">{{ page.name }}</span> <br>and 


		<div class="awesomplete">
			<input list="mylist" class="dropdown-input" autocomplete="off" aria-autocomplete="list" placeholder="{{ page.experience }}" maxlength="75">
			<datalist id="mylist">
			{% for profile in site.profiles %}
			{% if profile.layout == "profiles" %}
				{% if profile.name == page.name %}
					{% for top-rights in profile.priority-rights %}
						<option value="{{ top-rights.text }}" data-url="/profiles/{{ profile.val}}/{{ top-rights.id }}">{{ top-rights.text }}</option>
					{% endfor %}
					{% for wage-rights in profile.wage-rights %}
						<option value="{{ wage-rights.text }}" data-url="/profiles/{{ profile.val}}/{{ wage-rights.id }}">{{ wage-rights.text }}</option>
					{% endfor %}
					{% for equality-rights in profile.equality-rights %}
						<option value="{{ equality-rights.text }}" data-url="/profiles/{{ profile.val}}/{{ equality-rights.id }}">{{ equality-rights.text }}</option>
					{% endfor %}
					{% for safety-rights in profile.safety-rights %}
						<option value="{{ safety-rights.text }}" data-url="/profiles/{{ profile.val}}/{{ safety-rights.id }}">{{ safety-rights.text }}</option>
					{% endfor %}
					{% for organizing-rights in profile.organizing-rights %}
						<option value="{{ organizing-rights.text }}" data-url="/profiles/{{ profile.val}}/{{ organizing-rights.id }}">{{ organizing-rights.text }}</option>
					{% endfor %}
				{% endif %}	
			{% endif %}
			{% endfor %}
		</ul>
		</div>
		<button class="dropdown-btn" type="button"><span class="caret"></span></button>.</h1>
	</div>
</div>
</section>

<section class="content">

<div class="entitlement">
	<div class="usa-grid">
		<div class="usa-width-one-third">
			<div class="rights-grouping">
				{% if page.right == "wage-rights" %}
					<img src="/assets/img/icons/right-wage-lg.png">
					<a href="/rights/wage-rights">my wage rights</a>
				{% elsif page.right == "equality-rights" %}
					<img src="/assets/img/icons/right-equality-lg.png">
					<a href="/rights/equality-rights">my equality rights</a>
				{% elsif page.right == "safety-rights" %}
					<img src="/assets/img/icons/right-safety-lg.png">
					<a href="/rights/safety-rights">my safety rights</a>
				{% elsif page.right == "organizing-rights" %}				
					<img src="/assets/img/icons/right-organize-lg.png">
					<a href="/rights/organzing-rights">my organizing rights</a>
				{% endif %}	
			</div>
		</div>
		<div class="usa-width-two-thirds">
			<div class="entitlement-description">
			{% for entitlement in page.entitlement %}
				<h1>{{ entitlement.header }}</h1>
				<p>{{ entitlement.description }}</p>
			{% endfor %}
			</div>
		</div>
	</div>
</div>

<div class="experiences">
	
	{% for action in page.actions %}

	<div class="usa-grid">
		<div class="usa-width-two-thirds">
			<h2>{{ action.header }}</h2>
			<p>{{ action.description }}</p>
		</div>
		<div class="usa-width-one-third">
			<a href="/actions/{{ action.id }}">
			<button class="usa-button-big usa-button-secondary">
				{% if action.cta %}
  					{{ action.cta }}
				{% else %}
					Take Action
				{% endif %}	
			</button>
			</a>
		</div>
	</div>

	{% endfor %}

</div>




{{ content }}

</section>

