---
layout: default
---
{% if page.name or page.experience %}
<section class="mad-lib">
<div class="usa-grid">
	<div class="usa-grid-one-whole">
		<h1>
			{% if page.name %}
			I am a <span class="underline">{{ page.name }}</span> <br>and 
			{% endif %}	
		<span class="underline">{{ page.experience }}</span>
</div>
</section>
{% endif %}

<section class="content">

<div class="entitlement">
	<div class="usa-grid">
		<div class="usa-width-one-third">
			<div class="rights-grouping">
				{% if page.right == "wage-rights" %}
					<img src="/assets/img/icons/right-wage-lg.png">
					<a href="/rights/wage-rights.html">my wage rights</a>
				{% elsif page.right == "equality-rights" %}
					<img src="/assets/img/icons/right-equality-lg.png">
					<a href="/rights/equality-rights.html">my equality rights</a>
				{% elsif page.right == "safety-rights" %}
					<img src="/assets/img/icons/right-safety-lg.png">
					<a href="/rights/safety-rights.html">my safety rights</a>
				{% elsif page.right == "organizing-rights" %}				
					<img src="/assets/img/icons/right-organize-lg.png">
					<a href="/rights/organizing-rights.html">my organizing rights</a>
				{% endif %}	
			</div>
		</div>
		<div class="usa-width-two-thirds">
			<div class="entitlement-description">
			{% for entitlement in page.entitlement %}
				<h1>{{ entitlement.header }}</h1>
				<p>{{ entitlement.description }}</p>
			{% endfor %}
			</div>
		</div>
	</div>
</div>

<div class="entitlement-action">
	
	{% for action in page.actions %}

	<div class="usa-grid">
		<div class="usa-width-one-third">
			<br>
		</div>
		<div class="usa-width-two-thirds">
			<h2>{{ action.header }}</h2>
			<p>{{ action.description }}</p>
			<a href="/actions/{{ action.id }}.html" class="usa-button usa-button-big usa-button-secondary">
				{% if action.cta %}
  					{{ action.cta }}
				{% else %}
					Take Action
				{% endif %}	
			</a>
		</div>
	</div>

	{% endfor %}

</div>




{{ content }}

</section>

