---
layout: content
---

<div class="entitlement">
	<div class="usa-grid">
		<div class="usa-width-two-thirds">
			<div class="entitlement-description">
				<h1>{{page.heading}}</h1>
				<p>{{page.intro}}</p>
				{% comment %}
				- First, group all experiences together by right.
				- Then loop through each group and find all the unique issues.
				- If the list of unique issues contains the issue of the page we're on...
				- Loop through all the site rights to display the right content
				- And then loop through the experiences in the group.items and print them out
				{% endcomment %}
				{% assign experiences = site.data.experiences | group_by:'right' %}
				{% for group in experiences %}
					{% assign unique_issues = group.items | map: 'issue' | uniq %}
					{% if unique_issues contains page.issue %}
						{% for right in site.rights %}
							{% if right.right == group.name  %}
							<h2>{{ right.title }}</h2>
							<p>{{ right.statement }}</p>
							{% endif %}
						{% endfor %}
						<ul>
						{% for experience in group.items %}
							{% if experience.issue == page.issue %}
		        		<li>{{experience.text}}</li>
							{% endif %}
						{% endfor %}
						</ul>
					{% endif %}
				{% endfor %}
			</div>
		</div>
	</div>
</div>




{{ content }}
