---
layout: default
---

<section class="mad-lib">
<div class="usa-grid">
	<div class="usa-grid-one-whole">
		<h1>I am a <span class="underline">{{ page.name }}</span>
		<br>and I want to know my rights.</h1>

	</div>
</div>
</section>

<section class="section">

<div class="priority-rights">
	<div class="usa-grid">
		<div class="usa-width-one-whole">
			<h1>Tell us what happened. We can help.</h1>
			<ul class="experience-list">
				{% for top-rights in page.priority-rights %}
					<li><a href="{{ site.baseurl }}/{{ page.id }}/{{top-rights.id}}.html">{{ top-rights.text}}</a></li>
  				{% endfor %}
			</ul>
		</div>
	</div>
</div>

<div class="experiences">

{% for right in site.rights %}

   {% if forloop.first != true %}
	<div class="usa-grid seperator">
		<hr class="seperator">
	</div>
	{% endif %}

	<div class="usa-grid">
		<div class="usa-width-two-thirds">
			<h1><img src="{{ right.icon }}"> {{ right.statement }}</h1>
			<ul class="experience-list">
			{% if right.val == "equality-rights" %}
				{% for equality-right in page.equality-rights %}
				<li><a href="{{ site.baseurl }}/{{ page.id }}/{{equality-right.id}}.html">{{ equality-right.text }}</a></li>
				{% endfor %}
			</ul>
			{% elsif right.val == "safety-rights" %}
				{% for safety-right in page.safety-rights %}
				<li><a href="{{ site.baseurl }}/{{ page.id }}/{{safety-right.id}}.html">{{ safety-right.text }}</a></li>
				{% endfor %}
			</ul>
			{% elsif right.val == "organizing-rights" %}
				{% for organizing-right in page.organizing-rights %}
				<li><a href="{{ site.baseurl }}/{{ page.id }}/{{organizing-right.id}}.html">{{ organizing-right.text }}</a></li>
				{% endfor %}
			</ul>
			{% elsif right.val == "wage-rights" %}
				{% for wage-right in page.wage-rights %}
				<li><a href="{{ site.baseurl }}/{{ page.id }}/{{wage-right.id}}.html">{{ wage-right.text }}</a></li>
				{% endfor %}
			</ul>
			{% endif %}

		</div>
		<div class="usa-width-one-third">
			<p class="mission">{{ right.mission }}</p>
			<a href="{{right.id}}.html">View all {{ right.title }}</a>
		</div>
	</div>

 {% endfor %}

</div>




{{ content }}

</section>
