---
layout: content
---

<div class="entitlement">
	<div class="usa-grid">
		<div class="usa-width-two-thirds">
			<div class="entitlement-description">
				<h1>{{page.statement}}</h1>
				<p>{{page.mission}}</p>
			</div>
		</div>
		<div class="usa-width-one-third box bg-light-blue">
			<h3>Examples</h3>
			<ul>
				{% for concern in site.data.concerns %}
					{% if concern.right == page.right and concern.text %}
						<li><a href="{{ site.baseurl }}/details/{{ concern.detail }}">{{concern.text}}</a></li>
					{% endif %}
				{% endfor %}
			</ul>
		</div>
	</div>
</div>
